<a href="https://colab.research.google.com/github/imvickykumar999/sqlzoo-solutions/blob/main/sqlzoo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# https://sqlzoo.net/wiki/SQL_Tutorial

In [ ]:
!pip install "SQLAlchemy<1.4"

Collecting SQLAlchemy<1.4
  Downloading SQLAlchemy-1.3.24.tar.gz (6.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6.4/6.4 MB 43.4 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: SQLAlchemy
  Building wheel for SQLAlchemy (setup.py) ... done
  Created wheel for SQLAlchemy: filename=SQLAlchemy-1.3.24-cp310-cp310-linux_x86_64.whl size=1252696 sha256=a28fb9b18e05a0e1cad469980d48051c385ec6b0592f4162814e7736d0e8b802
  Stored in directory: /root/.cache/pip/wheels/27/51/b3/3481e88d5a5ba95dd4aafedc9316774d941c4ba61cfb93add8
Successfully built SQLAlchemy
Installing collected packages: SQLAlchemy
  Attempting uninstall: SQLAlchemy
    Found existing installation: SQLAlchemy 2.0.21
    Uninstalling SQLAlchemy-2.0.21:
      Successfully uninstalled SQLAlchemy-2.0.21
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
ipython-sql 0.5.0 requires sqlalchemy>=2.0, but you have sqlalchemy 1.3.24 which is incompatible.
Successfully installed SQLAlchemy-1.3.24

In [ ]:
%%capture sql

In [ ]:
%reload_ext sql

In [ ]:
%%sql sqlite:///sqlzoo.db

Traceback (most recent call last):
  File "/usr/local/lib/python3.10/dist-packages/sql/magic.py", line 203, in execute
    conn.internal_connection.rollback()
AttributeError: 'Connection' object has no attribute 'rollback'

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys(['sqlite:///sqlzoo.db'])

## [SELECT basics](https://sqlzoo.net/wiki/SELECT_basics)

<table class="db_ref"><caption>world</caption>
<tbody><tr><th>name</th><th>continent</th><th>area</th>
<th>population</th><th>gdp</th></tr>
<tr><td>Afghanistan</td><td>Asia</td><td class="r">652230</td><td class="r">25500100</td><td class="r">20343000000</td></tr>
<tr><td>Albania</td><td>Europe</td><td class="r">28748	</td><td class="r">2831741	</td><td class="r">12960000000	</td></tr>
<tr><td>Algeria</td><td>Africa</td><td class="r">2381741	</td><td class="r">37100000	</td><td class="r">188681000000	</td></tr>
<tr><td>Andorra</td><td>Europe</td><td class="r">468</td><td class="r">78115	</td><td class="r">3712000000	</td></tr><tr>
<td>Angola</td><td>Africa</td><td class="r">1246700	</td><td class="r">20609294	</td><td class="r">100990000000	</td></tr>
<tr>
<td colspan="5">....</td>
</tr>
</tbody></table>

### 1. Introducing the world table of countries

The example uses a WHERE clause to show the population of 'France'. Note that strings should be in 'single quotes';

**Modify it to show the population of Germany**

In [ ]:
%%sql

SELECT population FROM world
  WHERE name = 'Germany'

 * sqlite:///sqlzoo.db
Traceback (most recent call last):
  File "/usr/local/lib/python3.10/dist-packages/sql/magic.py", line 203, in execute
    conn.internal_connection.rollback()
AttributeError: 'Connection' object has no attribute 'rollback'

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys(['sqlite:///sqlzoo.db'])